
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');* {
    padding: 12px;
}

p  {
    font-size:2rem;
    color: white;
    /* background: url(); */
    margin: auto;
    text-align: center;
    /* text-align: center center;
    justify-content: center center;
    align-self: center center; */
}

#home::before {
    /* text-align: center; */
    background: url('https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720__480.jpg') no-repeat center center/cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}
/* #home div h2{
    margin: auto;
    width: 100%;
} */
#home div a {
    width: 100%;
    margin: auto;
    color: white;
    /* background: url(); */
    font-size: 1.7rem;
    /* text-align: center/; */

    /* justify-content: center ;
    align-self: center ; */
    text-decoration: none;
}

#home div a:hover {
    color: grey;
    background-color: white;
    cursor: pointer;
    border: 3px solid white;
    height: fit-content;
    /* align-self: center;
    justify-content: center; */
    text-align: center;
    width: fit-content;
    /* border: radius 14px; ; */
    border-radius: 25px;
}

#navbar ul {
    display: flex;
    /* display: block; */
    margin: 2vh auto;
}

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    height:7vh;
    margin: 2px;


}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li {
    list-style: none;
    font-size:1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 4px 7px;
    border-radius: 20px;
    text-decoration: none;
    margin: 0px 6px;
    font-family: 'Baloo Bhai 2', cursive
}

#navbar ul li a:hover {
    color: grey;
    background-color: white;
}
.footer {
    background-color: black;
    color: white;
    padding: 9px 20px;
    text-align: center;
    margin-bottom: 0;
}
#footer{
    margin: 0vh 4vh;
    margin-top: 39.5vh;
}
@media only screen and (max-width:1100px){
    footer{
        bottom: 0px;
        margin-bottom: 0px;
    }
    #footer{
        margin-top: 60vh;
        /* background-color: blue; */
    }
    .footer {
        text-align: center;
        height: fit-content;
        /* width: 100vw; */
        font-size: 0.41rem;
        background-color: black;
        color: white;
        bottom: 0px;
        margin-bottom: 0px;
    }
    p{
        font-size: 1rem;
        margin-bottom: 3vh;
    }
    /* #navbar {
        display: flex;
        align-items: center;
        position: sticky;
        /* top: 0px;
        height: 21px;
        margin: 10px;
    } */
    #home div a {
        color: white;
        /* background: url(); */
        font-size: 1.4rem;
        text-align: center;
        /* justify-content: center ;
        align-self: center ; */
        text-decoration: none;
    }
    
    #navbar ul li a {
        font-size: 0.5rem;
        padding: 0px 2px;
        /* padding-bottom: 8px; */
        margin: 0 4px;
    }
    nav{
        padding: 1px;
    }
    *{
        padding: 1px 2px;
        align-items: center;
        /* display: flex; */
        align-self: center;
        justify-content: center;
    }
}